.container {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 10px;
    border: 1px solid silver;
    background-color: whitesmoke;
    border-radius: 10px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    flex-wrap: wrap; /* Added to allow the items to wrap to the next line on smaller screens */
}

.cardHeading2 {
    margin: 0;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    padding: 10px 10px;
}

.image {
    position: relative;
    height: 30px;
    width: 30px;
}

img {
    width: 100%; 
    height: 100%;  
    border-radius: 50%;
}

.status {
    position: absolute;
    justify-content: center;
    right: 0;
    bottom: 0;
    width: 10px;
    height: 10px;
    background: silver;
    border-radius: 50%;
}

.title {
    font-weight: 200;
    width: 300px;
    padding: 0px 15px;
}

.tags {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 10px 20px;
    justify-content: space-between;
    gap: 5px;
}

.tag {
    color: grey;
    width: max-content;
    padding: 5px 10px;
    border-radius: 5px;
    border: 1px solid silver;
}

/* Large Tablets and Small Laptops */
@media (max-width: 1024px) {
    .title {
        width: auto;
    }
}

/* Tablets */
@media (max-width: 768px) {
    .title {
        width: auto;
        padding: 0px 10px; /* Slightly reduce padding */
    }
    .tags {
        padding: 10px 10px; /* Slightly reduce padding */
    }
}

/* Small Tablets and Large Mobile Phones */
@media (max-width: 600px) {
    .title {
        width: auto;
        padding: 0px 5px; /* Further reduce padding */
    }
    .tags {
        padding: 10px 5px; /* Further reduce padding */
    }
}

/* Small Mobile Phones */
@media (max-width: 480px) {
    .title {
        width: auto;
        padding: 0px; /* Remove padding */
    }
    .tags {
        padding: 10px 0px; /* Remove horizontal padding */
    }
    .tag {
        padding: 5px 5px; /* Slightly reduce padding */
    }
}